name: Tests declaration-rgpd action

on:
  push:
    branches: ["*"]
    paths:
      - declaration-rgpd/**
      - .github/workflows/declaration-rgpd.yml
  pull_request:
    branches: ["*"]
    paths:
      - declaration-rgpd/**
      - .github/workflows/declaration-rgpd.yml

jobs:
  tests:
    runs-on: ubuntu-latest
    name: Test declaration-rgpd
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - uses: actions/setup-node@v5
        with:
          node-version: "lts/*"

      - name: Install
        shell: bash
        run: |
          cd declaration-rgpd
          yarn

      - shell: bash
        run: |
          cd declaration-rgpd
          yarn test

  tests-declaration-rgpd:
    runs-on: ubuntu-latest
    name: declaration-rgpd action
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - uses: ./declaration-rgpd
        with:
          url: https://labonnealternance.apprentissage.beta.gouv.fr
          thirdparties: '{"trackers":[{"type":"unknown","url":"https://plausible.io/js/plausible.local.outbound-links.js"},{"type":"unknown","url":"https://plausible.io/api/event"}],"cookies":[],"headers":{"cache-control":"s-maxage=31536000,stale-while-revalidate","content-encoding":"gzip","content-type":"text/html;charset=utf-8","date":"Tue,06Sep202210:00:11GMT","etag":"\"34252-Rg+tkwu+qSjfdl/R14jfhbBq4KA\"","server":"nginx","vary":"Accept-Encoding","x-nextjs-cache":"HIT","x-powered-by":"Next.js"}}'
          output: rgpd.json

      - shell: bash
        run: |
          ls -la
          cat rgpd.json
          [[ $(cat rgpd.json | jq '.[0].score') -eq "4" ]] || (echo "Error: Should score 4" && exit 1)

      - uses: ./declaration-rgpd
        with:
          url: https://recommandations-collaboratives.beta.gouv.fr
          thirdparties: '{"trackers":[],"cookies":[],"headers":{"cache-control":"s-maxage=31536000,stale-while-revalidate","content-encoding":"gzip","content-type":"text/html;charset=utf-8","date":"Tue,06Sep202210:00:11GMT","etag":"\"34252-Rg+tkwu+qSjfdl/R14jfhbBq4KA\"","server":"nginx","vary":"Accept-Encoding","x-nextjs-cache":"HIT","x-powered-by":"Next.js"}}'
          output: rgpd.json

      - shell: bash
        run: |
          ls -la
          cat rgpd.json
          [[ $(cat rgpd.json | jq '.[0].score') -eq "4" ]] || (echo "Error: ml Should score 4" && exit 1)
          [[ $(cat rgpd.json | jq '.[1].score') -eq "4" ]] || (echo "Error: pc Should score 4" && exit 1)
          [[ $(cat rgpd.json | jq '.[1].declarationUrl') = "\"https://recommandations-collaboratives.beta.gouv.fr/confidentialite/\"" ]] || (echo "Error: pc invalid declaration URL" && exit 1)
