name: Test init

on:
  push:
    branches: ["*"]
    paths:
      - init/**
      - .github/workflows/init.yml
  pull_request:
    branches: ["*"]
    paths:
      - init/**
      - .github/workflows/init.yml

jobs:
  tests:
    runs-on: ubuntu-latest
    name: Prepare full scan
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: "lts/*"

      - name: Install
        shell: bash
        run: |
          cd init
          yarn

      - shell: bash
        run: |
          cd init
          yarn test
