name: Tests report action

on:
  push:
    branches: ["*"]
    paths:
      - report/**
      - .github/workflows/report.yml
  pull_request:
    branches: ["*"]
    paths:
      - report/**
      - .github/workflows/report.yml

jobs:
  tests-report:
    runs-on: ubuntu-latest
    name: Test report
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: "lts/*"

      - name: Install
        shell: bash
        run: |
          cd report
          yarn

      - shell: bash
        run: |
          cd report
          yarn test

      - name: Install
        shell: bash
        run: |
          cd report/www
          yarn

      - shell: bash
        run: |
          cd report/www
          SKIP_PREFLIGHT_CHECK=true yarn test
