name: Tests trivy action

on:
  push:
    branches: ["*"]
    paths:
      - trivy/**
      - .github/workflows/trivy.yml
  pull_request:
    branches: ["*"]
    paths:
      - trivy/**
      - .github/workflows/trivy.yml

jobs:
  tests-trivy:
    runs-on: ubuntu-latest
    name: Test trivy
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Run Trivy vulnerability scanner
        uses: ./trivy
        with:
          images: ghcr.io/socialgouv/domifa/backend,ghcr.io/socialgouv/domifa/frontend
          output: trivy-results.json

      - shell: bash
        run: |
          python -m json.tool < trivy-results.json
